@import url('../../css/borders.css');

#body
{
	background: navy url("honey.png");
	color: black;
	font-family: "System";
}

.cell0, .cell1, .cell2
{
	background: silver;
	color: black;
}

button, input[type="submit"]
{
	font-family: "MS Sans Serif";
	border: 2px outset silver;
	background: silver;
	color: black;
	margin: 1px;

	border-radius: 2px;
	box-shadow:	-1px -1px 0px black,
			 0px -1px 0px black,
			 1px -1px 0px black,
			-1px  0px 0px black,
			 1px  0px 0px black,
			-1px  1px 0px black,
			 0px  1px 0px black,
			 1px  1px 0px black;
}

input[type="text"], input[type="password"], input[type="file"], input[type="email"], select, textarea
{
	background: white;
	border: 1px solid black;
	color: black;
	font-family: "MS Sans Serif";
}

input[type="checkbox"], input[type="radio"]
{
	background: white;
	border: 1px solid black;
	color: black;
}

input[type="radio"]
{
	border-radius: 6px;
}

.header0 th
{
	background: navy;
	color: white;
}

.header1 th
{
	background: teal;
	color: white;
}

a:link, a:visited
{
	color: navy;
}

a:hover, a:active
{
	color: navy;
	text-decoration: underline;
}

h4
{
	font-family: "System";
}

.smallFonts
{
	font-family: "MS Sans Serif";
	font-size: 6pt;
}

/* Name color table */
.nc0x { color: gray;
}

.nc1x { color: gray;
}

.nc2x { color: gray;
}

.nc00 { color: blue;
}

.nc10 { color: fuchsia;
}

.nc20 { color: teal;
}

.nc01 { color: teal;
}

.nc11 { color: fuchsia;
}

.nc21 { color: red;
}

.nc02 { color: teal;
}

.nc12 { color: purple;
}

.nc22 { color: green;
}

.nc03 { color: yellow;
}

.nc13 { color: purple;
}

.nc23 { color: yellow;
}

.nc04 { color: white;
}

.nc14 { color: white;
}

.nc24 { color: white;
}

.nc05 { color: red;
}

.nc15 { color: red;
}

.nc25 { color: red;
}

.footer
{
	font-family: "MS Sans Serif";
	font-size: 6pt;
}

.faq
{
	background: white;
	color: black;
	border: 1px solid black;
	font-family: "MS Sans Serif";
}

h3
{
	font-family: "MS Sans Serif";
	font-size: 12pt;
	border: 0px none;
}

.geshi
{
	background: black;
	font-family: "Fixedsys";
	color: white;
}

.geshi .kw0, .geshi .kw1, .geshi .kw2, .geshi .kw3, .geshi .kw4
{
	font-weight: normal;
	color: lime;
}

.geshi .st0
{
	font-style: normal;
	color: yellow;
}

.geshi .br0, .geshi .sy0
{
	color: red;
}

.geshi .co1, .geshi .coMULTI
{
	font-style: normal;
	color: green;
}

div#tabs {
	margin-bottom: 0px;
}

div#tabs button
{
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
	padding-right: 16px;
	border-bottom: 0px none;
}

div#tabs button.selected
{
	position: relative;
	z-index: -100;
	text-shadow: 1px 0px 0px black;
}

td.threadIcons label > input ~ *
{
	background: silver;
	border: 1px solid silver;
	border-radius: 0px;
	padding: 0px 2px;
}

td.threadIcons label > input:checked ~ *
{
	background: navy;
	border: 1px dotted white;
	color: white;
}

div.postToolbar button
{
	padding-top: 0px;
	padding-bottom: 18px;
}

table.post
{
	width: 100%;
	background: silver;
	border: 1px solid #000;
	color: black;
	box-shadow: none;
}

table.post td.side
{
	width: 15%;
	vertical-align: top;
	border: 0px none;
}

table.post td.post
{
	background: gray;
	border-right: 0px none;
	border-bottom: 0px none;
	vertical-align: top;
	height: 100px;
}

table.post td.meta
{
	border: 0px none;
	font-family: "MS Sans Serif";
	font-size: 8pt;
	height: 10px;
}

.smilies img, #rss img
{
	padding: 1px;
	opacity: 1;
	border: 1px solid rgba(255,255,255, 0);
	border-radius: 0px;
}

.smilies img:hover, #rss img:hover
{
	margin: 0px;
	opacity: 1;
	background: navy;
	border: 1px dotted white;
}

a, a span, .footer a img, .avaLib img
{
	opacity: 1;
	-o-transition-property: none !important;
}

.avaLib img:hover
{
	     -o-transform: none;
	        transform: none;
	   -moz-transform: none;
	-webkit-transform: none;
	border-radius: 0px;
		box-shadow: 2px 2px 0px black;
}

button.expander
{
	border-radius: 0px;
	border: 1px outset silver;
}

button.expander:hover
{
	border: 1px outset silver;
}

.errorc h4
{
	font-family: "MS Sans Serif";
	font-size: 6pt;
}

.errort
{
	background:  navy;
	font-family: "MS Sans Serif";
	color: white;
	font-size: 6pt;
	border: 1px solid #000;
}

.errorc
{
	text-align: center;
	font-family: "MS Sans Serif";
	font-size: 6pt;
	color: black;
	border: 1px solid #000;
	border-top: 0px;
}

#header tr:first-child td:first-child
{
	background: navy url("../img/themes/win31/header.png") repeat-x;
}

.pollbarContainer
{
	border: 1px solid black;
	margin: 0.2em;
	background: white;
	box-shadow: none;
	border-radius: 0px;
}

.pollbar
{
	border: 0px none;
	background: navy;
	color: white;
	text-shadow: none;
	box-shadow: none;
	border-radius: 0px;
}

.threadTag
{
	font-family: "MS Sans Serif";
	font-size: 6pt;
	color: white;
	text-shadow: none;
	padding: 0px 2px;
	border: 1px solid black;
	box-shadow: none;
	margin-right: 2px;
}

ul.pipemenu li
{
	border-left: 1px solid gray;
}

small
{
	font-family: "MS Sans Serif";
	font-size: 6pt;
}

