@import url('../../css/roundcorners.css');
@import url('../../css/borders.css');
/* AcmlmBoard XD - Grayscale board theme */

#body
{
	background: #383838 url(back2c.png);
}

.outline
{
	outline-color: #666;
}

h3
{
	border-top-color: #6B6B6B;
	border-bottom-color: #6B6B6B;
}

a
{
	}

a:link
{
	color: #C4C4C4;
}

a:visited
{
	color: #939393;
}

a:active
{
	color: #E1E1E1;
}

a:hover
{
	color: #FFF;
}

table.outline, table.post
{
	}

th
{
	background-color: #383838;
	border-color: #6B6B6B;
}

table.post
{
	border-color: #6B6B6B;
	background: url(back2t1.png) #3B3B3B;
}

table.post td.post
{
	background-image: url(back2g.png);
}

.cell0
{
	background: #2C2C2C url(back2t2.png);
}

.cell1
{
	background: #262626 url(back2t3.png);
}

.cell2
{
	background: #3B3B3B url(back2t1.png);
}

.header0 th
{
	background: #444444 url(backc2.png) repeat-x;
	border: 1px solid #000;
}

.header1 th
{
	background:  #535353 url(backh.png) repeat-x;
}

.faq
{
	background: #222 url(back2g.png);
}

td.post code.Code
{
	background: #3B3B3B url(back2t1.png);
}

.errort
{
	background:  #535353 url(backh.png) repeat-x;
	border: 1px solid #000;
}

.errorc
{
	text-align: center;
	color: #EEE;
	border: 1px solid #000;
	border-top: 0px;
}

#pmNotice
{
	background: #777;
}

#pmNotice:hover
{
	background: #888;
}

#pmNotice a span, #pmNotice a
{
	color: #C4C4C4 !important;
}

#pmNotice a:hover span, #pmNotice a:hover
{
	color: #FFF !important;
}

.geshi
{
	background: #3B3B3B url(back2t1.png);
	color: #DDD;
}

.geshi .kw0, .geshi .kw1, .geshi .kw2, .geshi .kw3, .geshi .kw4
{
	color: #AAA;
}

.geshi .br0, .geshi .sy0
{
	color: #888;
}

.geshi .co1
{
	color: #888;
}

button, input[type="submit"]
{
	border: 1px solid #666;
	background: #444;
	color: #FFF;
}

input[type="text"], input[type="password"], input[type="file"], input[type="email"], select, textarea
{
	background: #444;
	border: 1px solid #666;
	color: white;
}

input[type="checkbox"], input[type="radio"]
{
	background: #444;
	border: 2px ridge #666;
	color: white;
}

.pollbarContainer
{
	border: 1px solid #666;
}

.post_about
{
	background: url(back2t2.png);
	border: 1px solid #666;
}

.post_topbar
{
	background: url(back2t2.png);
	border: 1px solid #666;
}

.post_content
{
	background: url(back2t1.png);
	border: 1px solid #666;
}

table.outline
{
	border-collapse: separate;
	border-spacing: 0px;
	border: 1px solid #666;
}

table.outline tr:first-child th:last-child
{
	border-right: 1px solid black;
}

table.outline tr:first-child th
{
	border-top: 1px solid black;
}

table.outline td
{
	border-left: 0px none;
	border-top: 0px none;
}

table.outline th
{
	border-bottom: 1px solid black;
}

table.outline tr td:first-child, table.outline tr th:first-child
{
	border-left: 1px solid black;
}

.header0 th
{
	border: 0px none;
}

div#tabs button.selected
{
	border-bottom: 1px solid #444;
}

