/* ABXD Umbreon theme by Kiyoshi Kasuga
Inverting all the colours would probably make a nice phpBB Espeon skin */

#body
{
	background: #202000 url("b.png");
	font-family: "Verdana", "Lucida Grande", sans-serif;
}

table, td, tr, th, div
{
	border-color: #c0c0c0;
}

#header, #header tr, #header tr td
{
	background: rgba(64, 64, 64, .5);
	background-image: -ms-linear-gradient(rgba(128, 128, 128, .25) 0%, rgba(0, 0, 0, .25) 100%);
	background-image: -moz-linear-gradient(rgba(128, 128, 128, .25) 0%, rgba(0, 0, 0, .25) 100%);
	background-image: -o-linear-gradient(rgba(128, 128, 128, .25) 0%, rgba(0, 0, 0, .25) 100%);
	background-image: -webkit-linear-gradient(rgba(128, 128, 128, .25) 0%, rgba(0, 0, 0, .25) 100%);
	background-image: linear-gradient(rgba(128, 128, 128, .25) 0%, rgba(0, 0, 0, .25) 100%);
	font-family: "Consolas", "Lucida Console", monospace;
}
#header .cell0
{
	padding: 0;
}
#header .cell0 tr
{
	border: 0;
}

a, a span
{
	font-family: "Consolas", "Lucida Console", monospace;
	text-shadow: -1px -1px 2px rgba(0, 0, 0, .75), 1px -1px 2px rgba(0, 0, 0, .75), 1px 1px 2px rgba(32, 32, 32, .75), -1px 1px 2px rgba(32, 32, 32, .75);
}
a:link, a:visited
{
	color: #ff0;
}
a:active
{
	color: #0080a0;
}
a:hover, a:hover span, #header  a:hover, #header a:hover span
{
	color: #f00 !important;
	text-decoration: underline;
	-o-transition: all .25s cubic-bezier;
	-ms-transition: all .25s cubic-bezier;
	transition: all .25s cubic-bezier;
	-moz-transition: all .25s cubic-bezier;
	-webkit-transition: all .25s cubic-bezier;
}

.outline
{
	outline: 2px ridge #c0c0c0;
}

.cell0, .cell1, .cell2
{
	padding: 2px 4px;
}
.cell0
{
	background: rgba(64, 64, 64, .75);
}
.cell1, .faq
{
	background: rgba(0, 0, 0, .75);
}
.cell2
{
	background: rgba(0, 128, 160, .75);
}

.header0 th
{
	background: #444;
	background-image: url("../img/themes/umbreon/h.png"), -ms-linear-gradient(#808080 0%, #000 100%);
	background-image: url("../img/themes/umbreon/h.png"), -moz-linear-gradient(#808080 0%, #000 100%);
	background-image: url("../img/themes/umbreon/h.png"), -o-linear-gradient(#808080 0%, #000 100%);
	background-image: url("../img/themes/umbreon/h.png"), -webkit-linear-gradient(#808080 0%, #000 100%);
	background-image: url("../img/themes/umbreon/h.png"), linear-gradient(#808080 0%, #000 100%);
}

.header1 th, .errort, button, input[type="submit"], #tabs button
{
	background: #000;
	background-image: -ms-linear-gradient(#fff 0%, #000 50%);
	background-image: -moz-linear-gradient(#fff 0%, #000 50%);
	background-image: -o-linear-gradient(#fff 0%, #000 50%);
	background-image: -webkit-linear-gradient(#fff 0%, #000 50%);
	background-image: linear-gradient(#fff 0%, #000 50%);
}
.header0 th, .header1 th, .errort
{
	font-family: "Helvetica", "Arial", sans-serif;
	font-size: 1em;
	margin: 4px;
	color: #fff;
}

.header0, .header1
{
	background: rgba(64, 64, 64, .5);
	background-image: -ms-linear-gradient(rgba(128, 128, 128, .5) 0%, rgba(0, 0, 0, .5) 100%);
	background-image: -moz-linear-gradient(rgba(128, 128, 128, .5) 0%, rgba(0, 0, 0, .5) 100%);
	background-image: -o-linear-gradient(rgba(128, 128, 128, .5) 0%, rgba(0, 0, 0, .5) 100%);
	background-image: -webkit-linear-gradient(rgba(128, 128, 128, .5) 0%, rgba(0, 0, 0, .5) 100%);
	background-image: linear-gradient(rgba(128, 128, 128, .5) 0%, rgba(0, 0, 0, .5) 100%);
	font-family: "Consolas", "Lucida Console", monospace;
}


.codeblock
{
	background: rgba(64, 64, 64, .75);
	border: 2px inset rgba(64, 64, 64, .75);
}

table.post
{
	background: none;
}

table.post .side
{
	background: rgba(0, 128, 160, .75);
}
table.post td.post
{
	background: rgba(0, 0, 0, .75);
}
table.post td.post td
{
	border: 2px groove rgba(64, 64, 64, .75);
}

table.post .meta
{
	background: rgba(0, 128, 160, .75);
}

.swf
{
	border: 1px solid #c0c0c0;
	border-radius: 4px;
	box-shadow: 0 0 16px rgba(255, 255, 255, .75);
	background: rgba(255, 255, 255, .125);
}
.swfmain
{
	border: 2px groove rgba(64, 64, 64, .75);
}

.pollbarContainer
{
	border: 1px solid #c0c0c0;
	box-shadow: 0 0 16px rgba(255, 255, 255, .75);
}
.pollbar
{
	border: 2px groove rgba(0, 0, 0, .5);
}

input[type="text"], input[type="password"], input[type="file"], input[type="email"], select, textarea
{
	border: 2px inset rgba(64, 64, 64, .75);
	background: rgba(0, 0, 0, .5);
	color: #fff;
}
input[type="checkbox"], input[type="radio"]
{
	border: 2px inset rgba(255, 255, 255, .5);
	background: rgba(0, 0, 0, .5);
	width: 1.1em;
	height: 1.1em;
}
input[type="radio"]
{
	border-radius: 8px;
}

input[type="submit"], button
{
	border: 2px outset rgba (192, 192, 192, .75);
	color: #fff;
}
button.expander
{
	border: 1px outset #c0c0c0;
}
button.expander:hover
{
	border: 1px outset red;
}

#tabs
{
	margin: 8px;
}
#tabs button
{
	border: 0;
}
#tabs button:hover
{
	color: #0080a0;
}
#tabs .selected
{
	background: #ccc;
	background-image: -ms-linear-gradient(#fff 0%, #808080 50%);
	background-image: -moz-linear-gradient(#fff 0%, #808080 50%);
	background-image: -o-linear-gradient(#fff 0%, #808080 50%);
	background-image: -webkit-linear-gradient(#fff 0%, #808080 50%);
	background-image: linear-gradient(#fff 0%, #808080 50%);
	color: red;
	border: 0 !important;
}

.postToolbar button
{
	padding-top: 4px;
	padding-bottom: 20px;
}

#smiliesContainer
{
	padding: 0 0;
}

.highlightedPost
{
	box-shadow: 0 0 8px rgba(255, 255, 255, .75);
}

