/* AcmlmBoard XD - Halloween theme (recolor of Night) */
@import url('../../css/borders.css');

a {
	color: #DEDAFE;
}

a:hover {
	color: #FFEEFF;
}

.outline, .PoRT
{
	box-shadow: none;
}


.faq
{
	background: #331111;
}

#body
{
	background: #1F0F00 url("background.png");
}

.header0 th
{
	background: #5F2F25;
}

.header1 th
{
	background: #332211;
}

.cell1, table.post td.post
{
	background: #2B1111;
}

.cell0, .cell2, table.post td.side, table.post td.userlink, table.post td.meta
{
	background: #331111;
}

.errort
{
	background: #332211;
}

.errorc
{
	background: #221111;
}

button, input[type="submit"]
{
	border: 1px solid #996633;
	background: #000000;
	color: #FFF;
}

input[type="text"], input[type="password"], input[type="file"], input[type="email"], select, textarea
{
	background: #000000;
	border: 1px solid #996633;
	color: white;
}

input[type="checkbox"], input[type="radio"]
{
	background: #000000;
	border: 1px solid #996633;
	color: white;
}

div#tabs button.selected
{
	border-bottom: 1px solid #5F2F2F;
	background: #5F2F2F;
}

