@import url('../../css/roundcorners.css');
/* AcmlmBoard XD - Filna Fatansy board theme */

.outline
{
	}

.margin
{
	margin-bottom: 8px;
}

.cell0
{
	background: #222653 url(back2t2.png) fixed repeat-x;
}

.cell1
{
	background: #141730 url(back2t3.png) fixed repeat-x;
}

.cell2
{
	background: #303678 url(back2t1.png) fixed repeat-x;
}

.header0 th
{
	background: #373E89 url(backc2.png) fixed repeat-x;
	text-shadow: #000 1px 1px 0px;
}

.header1 th
{
	background: #4F57B9 url(backh.png) fixed repeat-x;
	text-shadow: #000 1px 1px 0px;
}

table.post
{
	background: #222653 url(back2t2.png) fixed repeat-x;
}

table.post td.post
{
	background: #222 url(back2g.png) fixed;
}

.faq, .errorc
{
	background: #141730 url(back2t3.png) fixed repeat-x;
	padding: 4px;
}

h3
{
	font-family: "Verdana", "Arial", sans-serif;
	font-size: 12pt;
	font-weight: bold;
	text-decoration: underline;
	border-top: 0px none;
	border-bottom: 0px none;
	margin: 0px;
	text-shadow: #000 1px 1px 0px;
}

td.post code.Code
{
	background: #000;
	font-family: "Consolas", "Courier New", monospace;
}

.errort
{
	background: #4F57B9 url(backh.png) fixed repeat-x;
	text-shadow: #000 1px 1px 0px;
	border: 1px solid #000;
	text-align: center;
}

input[type="text"], input[type="password"], input[type="file"], input[type="email"], select, textarea
{
	background: #141730;
	border: 1px solid #777;
	color: white;
}

input[type="checkbox"], input[type="radio"]
{
	/* Don't set a color for checkboxes. It'll be all wrong. */
}

.geshi
{
	background: #000;
	font-family: "Consolas", "Courier New", monospace;
}

.geshi .co1
{
	color: green;
}

.post_about
{
	background: #222653 url(back2t2.png) fixed repeat-x;
}

.post_topbar
{
	background: #222653 url(back2t2.png) fixed repeat-x;
	margin-left: 150px;
}

.post_content
{
	background: #222 url(back2g.png) fixed;
	margin-top: 2px;
	margin-left: 150px;
}

.post_about, .post_topbar, .post_content
{
	box-shadow: none;
	border: 2px ridge #999;
}

table.outline
{
	border: 2px ridge #999;
}

button, input[type="submit"]
{
	background: #222653 url(back2t2.png);
	color: white;
	text-shadow: 1px 1px 0px black;
	border: 1px solid #999;
	border-radius: 4px;
}

div#tabs button
{
	border-radius: 4px;
}

div#tabs button.selected
{
	background: #373E89 url(backc2.png);
	border-bottom: 1px solid #999;
}

