@import url('../../css/borders.css');
@import url('../../css/roundcorners.css');

/* ABXD - Blank Structure theme
 *   by roxahris
 *      adapted to ABXD 2.0 by Kawa
 */

#body
{
	background: black url(back.png);
	color: white;
	font-family: "Calibri", "Verdana", "Arial", sans-serif;
	font-size: 1em; /* 10pt; */
	text-shadow: #000 2px 2px 2px;
	margin: 0px;
}

h3
{
	font-family: "Verdana", "Arial", sans-serif;
	font-size: 1.2em; /* 12pt; */
	font-weight: bold;
	border-top: none;
	border-bottom: 1px solid #666;
	margin: 0px;
}

h4
{
	font-family: "Verdana", "Arial", sans-serif;
	font-size: 1em; /* 10pt; */
	margin: 0px;
}


a:link
{
	color: #E0E0E0;
}

a:visited
{
	color: #808080;
}

a:active
{
	color: #F0F0F0;
}

a:hover
{
	color:#FFFFFF;
}

th
{
	background: #444;
	font-size: 1em; /* 12px; */
	text-shadow: #000 1px 1px 2px, #000 -1px -1px 2px;
	text-align: left;
}

table.post
{
	background: #303030;
}

table.post td.post
{
	background: rgba(62, 62, 62, 0.4) url(back_f.png) repeat-x;
}

.cell0
{
	background: rgba(16, 16, 16, 0.4) url(back_f.png) repeat;
}

.cell1
{
	background: rgba(64, 64, 64, 0.4) url(back_f.png) repeat;
}

.cell2
{
	background: rgba(32, 32, 32, 0.4) url(back_f.png) repeat;
}

.header0 th
{
	background:  #001132 url(head2_bg.png) repeat-x;
	font-size: 8pt;
	color: #DDD;
}

.header1 th
{
	background:  #001132 url(head_bg.png) repeat-x;
	font-size: 8pt;
	color: #DDD;
}

.codeblock
{
	background: rgba(8, 8, 8, 0.4);
}


div#tabs button
{
	border: 1px solid #000;
	border-top-left-radius: 8px;
	border-top-right-radius: 32px;
	padding-right: 16px;
	color: #fff;
	background: #444;
}

div#tabs button.selected
{
	position: static;
	z-index: -100;
	border-bottom-color: #444;
}

