@import url('../../css/roundcorners.css');

#body {
	background: #202020;
	font-family: Droid Sans, Tahoma, sans;
	color: #F0F0F0;
}

a:link, a:visited	{color: #8585B0;}
a:hover				{color: #9F9FC0;}
a:active			{color: #7A7A90;}

#header > table {
	background: -webkit-linear-gradient(#202020, #303030);
}

ul.pipemenu {
	background: -webkit-linear-gradient(hsla(0, 0%, 30%, 0.25), hsla(0, 0%, 30%, 0.75));
	background: -moz-linear-gradient(hsla(0, 0%, 30%, 0.25), hsla(0, 0%, 30%, 0.75));
	background: -o-linear-gradient(hsla(0, 0%, 30%, 0.25), hsla(0, 0%, 30%, 0.75));
	background: -ms-linear-gradient(hsla(0, 0%, 30%, 0.25), hsla(0, 0%, 30%, 0.75));
	background: linear-gradient(hsla(0, 0%, 30%, 0.25), hsla(0, 0%, 30%, 0.75));
	box-shadow: 0px 0px 2px #CCC;
	border-radius: 8px;
	line-height: 20px;
	height: 20px;
	display: inline-block;
}

ul.pipemenu li {
	border: 0px none;
}

ul.pipemenu li:first-child {
	border-top-left-radius: 8px;
	border-bottom-left-radius: 8px;
}

ul.pipemenu li:last-child {
	border-top-right-radius: 8px;
	border-bottom-right-radius: 8px;
}

ul.pipemenu li:hover {
	background: rgba(255, 255, 255, 0.25);
}

ul.pipemenu li a {
	color: #FFF;
	display: inline-block;
	padding-left: 8px;
	padding-right: 8px;
}


/* -properly- get rid of the stupidly-set-by-default borders */
table.post>t#body>tr>th, table.outline>t#body>tr>th, table.message>t#body>tr>th {
	border-width: 0px 0px 0px 0px;
	border-style: none;
}

table.post>t#body>tr>th:last-child, table.outline>t#body>tr>th:last-child, table.message>t#body>tr>th:last-child {
	border-width: 0px 1px 1px 0px;
	border-style: none;
}

table.post>t#body>tr>td, table.outline>t#body>tr>td, table.message>t#body>tr>td {
	border-width: 0px 1px 1px 0px;
	border-style: none;
}

.outline {
	box-shadow: 0px 0px 4px #505050;
}

.cell0, .cell1, .cell2 {
	background: transparent;
}

.header0 th, .header0 {
	background-image: -webkit-linear-gradient(#181818, #1C1C1C);
	background-image: -moz-linear-gradient(#181818, #1C1C1C);
	background-image: -o-linear-gradient(#181818, #1C1C1C);
	background-image: -ms-linear-gradient(#181818, #1C1C1C);
	background-image: linear-gradient(#181818, #1C1C1C);
	color: white;
}

.header1 th, .header1, .errort {
	background-image: -webkit-linear-gradient(#101010, #202020);
	background-image: -moz-linear-gradient(#101010, #202020);
	background-image: -o-linear-gradient(#101010, #202020);
	background-image: -ms-linear-gradient(#101010, #202020);
	background-image: linear-gradient(#101010, #202020);
	color: white;
}

table.outline, .errorc {
	border: 0px none;
	background: -webkit-linear-gradient(#2A2A2A, #202020);
	background: -moz-linear-gradient(#2A2A2A, #202020);
	background: -o-linear-gradient(#2A2A2A, #202020);
	background: -ms-linear-gradient(#2A2A2A, #202020);
	background: linear-gradient(#2A2A2A, #202020);
	background-size: 1px 150px;
	background-repeat: repeat-x;
	background-color: #202020;
}

.footer {
	opacity: 0.5;
	font-size: 0.7em;
	text-shadow: 2px 2px 2px #000;
	font-style: italic;
}

table.post {
	width: 100%;
	background: #000000;
}

table.post > tr > td {
	border: 0px none #000;
}

table.post td.side {
	background-image: -webkit-linear-gradient(#101010, #1A1A1A 10px, #121212);
	background-image: -moz-linear-gradient(#101010, #1A1A1A 10px, #121212);
	background-image: -o-linear-gradient(#101010, #1A1A1A 10px, #121212);
	background-image: -ms-linear-gradient(#101010, #1A1A1A 10px, #121212);
	background-image: linear-gradient(#101010, #1A1A1A 10px, #121212);
	background-size: 1px 150px;
	background-repeat: repeat-x;
	background-color: #121212;
	border: 0px none;
}

table.post td.userlink {
	background: -webkit-linear-gradient(#000000, #101010);
	background: -moz-linear-gradient(#000000, #101010);
	background: -o-linear-gradient(#000000, #101010);
	background: -ms-linear-gradient(#000000, #101010);
	background: linear-gradient(#000000, #101010);
	padding: 4px;
}

table.post td.post {
	background: -webkit-linear-gradient(#2A2A2A, #202020);
	background: -moz-linear-gradient(#2A2A2A, #202020);
	background: -o-linear-gradient(#2A2A2A, #202020);
	background: -ms-linear-gradient(#2A2A2A, #202020);
	background: linear-gradient(#2A2A2A, #202020);
	background-size: 1px 150px;
	background-repeat: repeat-x;
	background-color: #202020;
	border: 0px none;
	border-top: 1px solid #1A1A1A;
	border-right: 1px solid #000;
	border-bottom: 1px solid #000;
}

table.post td.post td {
	border: 0px none;
}

table.post td.meta {
	background-image: -webkit-linear-gradient(#101010, #202020);
	background-image: -moz-linear-gradient(#101010, #202020);
	background-image: -o-linear-gradient(#101010, #202020);
	background-image: -ms-linear-gradient(#101010, #202020);
	background-image: linear-gradient(#101010, #202020);
	color: #A0A0A0;
	font-size: 8pt;
	height: 14px;
	padding: 4px;
}

table.post td.meta ul.pipemenu {
	background: none;
	box-shadow: none;
	padding: 0px;
	margin: 0px;
	display: inline;
	line-height: inherit;
}

table.post td.meta ul.pipemenu li {
	border: 0px none;
	text-transform: lowercase;
	display: inline-block;
	margin-top: -4px;
	height: 22px;
	line-height: 22px;
	margin-bottom: -4px;
	padding-left: 8px;
	padding-right: 8px;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
}

table.post td.meta ul.pipemenu li:hover {
	background: -webkit-linear-gradient(#404040, #2A2A2A);
	background: -moz-linear-gradient(#404040, #2A2A2A);
	background: -o-linear-gradient(#404040, #2A2A2A);
	background: -ms-linear-gradient(#404040, #2A2A2A);
	background: linear-gradient(#404040, #2A2A2A);
	height: 25px;
	margin-bottom: -6px;
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
}

table.post td.meta ul.pipemenu li a {
	color: #F0F0F0;
}

table.post td.links {
	margin: 0px;
	border: 0px none;
}

.faq {
	padding: 16px;
	border-radius: 16px;
}

.faq h3 {
	border-bottom: 2px solid #303030;
	margin-left: -16px;
	margin-right: -16px;
	padding-left: 8px;
	font-weight: lighter;
}

td.post code.Code, .geshi {
	background: rgba(0, 0, 0, 0.75);
}

button.expander {
	color: #CCC;
	border: 0px none;
	background: none;
	text-shadow: 0px 0px 0px #FFF;
	-webkit-transition: 0.2s linear;
	-moz-transition: 0.2s linear;
	-o-transition: 0.2s linear;
	-ms-transition: 0.2s linear;
	transition: 0.2s linear;
}

button.expander:hover {
	color: #FFF;
	text-shadow: 0px 0px 8px #FFF;
	border: 0px none;
}

button.expander:active {
	text-shadow: 0px 0px 16px #FFF;
}

.pollbarContainer {
	background: -webkit-linear-gradient(hsla(0, 0%, 20%, 0.25), hsla(0, 0%, 20%, 0.75));
	background: -moz-linear-gradient(hsla(0, 0%, 20%, 0.25), hsla(0, 0%, 20%, 0.75));
	background: -o-linear-gradient(hsla(0, 0%, 20%, 0.25), hsla(0, 0%, 20%, 0.75));
	background: -ms-linear-gradient(hsla(0, 0%, 20%, 0.25), hsla(0, 0%, 20%, 0.75));
	background: linear-gradient(hsla(0, 0%, 20%, 0.25), hsla(0, 0%, 20%, 0.75));
	box-shadow: 0px 0px 2px #AAA;
	border: 0px none;
	border-radius: 8px;
	line-height: 20px;
	height: 20px;
	overflow: hidden;
}

.pollbar {
	background-image: -webkit-linear-gradient(hsla(0, 0%, 20%, 0.25), hsla(0, 0%, 20%, 0.75));
	background-image: -moz-linear-gradient(hsla(0, 0%, 20%, 0.25), hsla(0, 0%, 20%, 0.75));
	background-image: -o-linear-gradient(hsla(0, 0%, 20%, 0.25), hsla(0, 0%, 20%, 0.75));
	background-image: -ms-linear-gradient(hsla(0, 0%, 20%, 0.25), hsla(0, 0%, 20%, 0.75));
	background-image: linear-gradient(hsla(0, 0%, 20%, 0.25), hsla(0, 0%, 20%, 0.75));
	border: 0px none;
	border-radius: 0px;
	box-shadow: 4px 0px 8px rgba(0, 0, 0, 0.25);
}

button, input[type="submit"], select {
	border: 0px none;
	box-shadow: 0px 0px 2px #CCC;
	background: -webkit-linear-gradient(#303030, #202020);
	background: -moz-linear-gradient(#303030, #202020);
	background: -o-linear-gradient(#303030, #202020);
	background: -ms-linear-gradient(#303030, #202020);
	background: linear-gradient(#303030, #202020);
	padding: 4px;
	padding-left: 8px;
	padding-right: 8px;
	border-radius: 8px;
	color: white;
	-webkit-appearance: button;
	-moz-appearance: button;
	-o-appearance: button;
	-ms-appearance: button;
	appearance: button;
}

select {
	background: -webkit-linear-gradient(#CCC, #888 50%), -webkit-linear-gradient(#303030, #202020);
	background: -moz-linear-gradient(#CCC, #888 50%), -moz-linear-gradient(#303030, #202020);
	background: -o-linear-gradient(#CCC, #888 50%), -o-linear-gradient(#303030, #202020);
	background: -ms-linear-gradient(#CCC, #888 50%), -ms-linear-gradient(#303030, #202020);
	background: linear-gradient(#CCC, #888 50%), linear-gradient(#303030, #202020);
	background-size: 8px 8px, 100% 100%;
	background-repeat: no-repeat, repeat;
	background-position: bottom right, top left;
}

input[type="text"], input[type="password"], input[type="file"], input[type="email"], textarea {
	border: 0px none;
	box-shadow: 0px 0px 2px #CCC;
	border-radius: 8px;
	background: -webkit-linear-gradient(#303030, #202020);
	background: -moz-linear-gradient(#303030, #202020);
	background: -o-linear-gradient(#303030, #202020);
	background: -ms-linear-gradient(#303030, #202020);
	background: linear-gradient(#303030, #202020);
	padding: 4px;
	color: #F0F0F0;
}

input:focus, select:focus, button:focus {
	outline: 0px none;
	box-shadow: 0px 0px 4px #FFF;
}

input[type="checkbox"], input[type="radio"] {
	border: 1px solid #101010;
	box-shadow: 0px 0px 2px #CCC;
	border-radius: 8px;
	background: #101010;
}

div#tabs {
	margin-bottom: 1px;
	padding-left: 8px;
}

div#tabs button {
	background: none;
	border-radius: 0px;
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
	padding-right: 16px;
	margin-bottom: 0px;
	box-shadow: none;
}

div#tabs button.selected {
	background: -webkit-linear-gradient(#282828, #181818);
	background: -moz-linear-gradient(#282828, #181818);
	background: -o-linear-gradient(#282828, #181818);
	background: -ms-linear-gradient(#282828, #181818);
	background: linear-gradient(#282828, #181818);
	position: static;
	z-index: -100;
	border-bottom: 1px solid #181818;
	box-shadow: none;
	padding-bottom: 4px;
	margin-bottom: -1px;
}
