body {
	font-size: 12pt;
}

#body-wrapper {
	padding-top: 40px;
}

#body {
	z-index:0;
}

#mobile-headerBar {
	width:100%;
	padding:0px;
	border-bottom: 1px solid black;
	z-index:10000;
	position: fixed;
	top: 0px;
	left: 0px;
	max-height: 40px;
}

#mobile-headerBar a.button {
	color: white;
}
#mobile-headerBar a {
	display:inline-block;
	line-height: 40px;
	padding: 0px;
	padding-left: 8px;
	padding-right: 8px;
	height: 40px;
}

#mobile-headerBar .toolbarMenu a {
	padding-left: 0px;
	padding-right: 0px;
}

#mobile-headerBar a:active, #mobile-headerBar a:hover {
	background-color:rgba(0, 0, 0, 0.2);
}
#mobile-headerBar td {
	margin:0px;
	padding:0px;
	white-space: nowrap;
	overflow: hidden;
}

#mobile-headerBar i {
	color: white;
}

#mobile-headerBar img {
	vertical-align:middle;
}

#mobile-header td {
	vertical-align: top;
}

/*
 * Drawer
 */


#drawer {
	position: fixed;
	top: 40px;
	bottom: 0;
	left: 0;
	width: 300px;
	z-index: 1000;
	display: block;
	padding: 0px;
	overflow-x: hidden;
	overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
	background-color: black;
	color: white;
	-webkit-transform: translate3d(0, 0, 0);

	-webkit-transition: 0.3s -webkit-transform ease-out;
	-o-transition: 0.3s -o-transform ease-out;
	-ms-transition: 0.3s -ms-transform ease-out;
	transition: 0.3s transform ease-out;
}

#drawer.dragging, #drawer-overlay.dragging {
	-webkit-transition-property: none;
	-o-transition-property: none;
	-ms-transition-property: none;
	transition-property: none;
}

#body-wrapper {
	margin-left: 300px;
}

#drawer-overlay {
	visibility: hidden;

	background-color: black;
	opacity: 0.75;

	position:fixed!important;
	left:0px;
	top:0px;
	width:100%;
	height:100%;
	z-index: 900;

	-webkit-transform: translate3d(0, 0, 0);

	-webkit-transition: 0.3s opacity ease-out;
	-o-transition: 0.3s opacity ease-out;
	-ms-transition: 0.3s opacity ease-out;
	transition: 0.3s opacity ease-out;
}


@media (min-width: 768px) and (max-width: 991px) {
	#drawer {
		width: 200px;
	}
	#body-wrapper {
		margin-left: 200px;
	}
}

#drawer-toggle {
	display: none!important;
}

#breadcrumbs-long {
	display: block;
}
#breadcrumbs-short {
	display: none;
}

@media (max-width: 767px) {
	#breadcrumbs-long {
		display: none;
	}
	#breadcrumbs-short {
		display: block;
	}

	#drawer {
		-webkit-transform: translateX(-300px);
		-o-transform: translateX(-300px);
		-ms-transform: translateX(-300px);
		-moz-transform: translateX(-300px);
		transform: translateX(-300px);
	}
	#body-wrapper {
		margin-left: 0px;
	}
	#drawer-toggle {
		display: inline-block!important;
	}
}


#main {
/*	margin-top:34px;*/
}

ul.stackedmenu {
	display:block;
	margin:0px;
	list-style-type: none;
	margin: 0;
	padding: 0;
}
ul.stackedmenu > li{
	display:block;
	margin: 0px;
	padding: 0px;
}

ul.stackedmenu > li > a i, ul.stackedmenu > li > a img {
	position: absolute;
	left: 8px;
	top: 8px;
	font-size: 18px;
}
ul.stackedmenu > li > a, ul.stackedmenu > li > a:visited {
	display:block;
	padding:10px;
	color: #FFF;
	padding-left: 30px;
	-webkit-tap-highlight-color: transparent;
	position: relative;
}

ul.stackedmenu > li > a:active, ul.stackedmenu > li > a:hover {
	background-color:rgba(0, 0, 0, 0.2);
}



.toolbarMenu {
	display:block;
	margin:0px;
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.toolbarMenu > li {
	display:inline-block;
	margin: 0px;
	padding: 0px;
}

.toolbarMenu li {
	display: inline-block;
}

#mobile-headerBar .toolbarMenu li {
	margin-left: 0px;
	margin-right: 0px;
}

.toolbarMenu i {
	font-size: 20px;
	line-height: 40px;
	padding-left: 8px;
	padding-right: 8px;
}

.toolbarMenu > li > a, .toolbarMenu > li > a:visited {
	display:inline-block;
	padding:0px;
	color: #FFF;
	-webkit-tap-highlight-color: transparent;
}

.toolbarMenu > li > a:active, .toolbarMenu > li > a:hover {
	background-color:rgba(0, 0, 0, 0.2);
}

#theme_banner {
	width: 100%;
}

.width75 {
	width: 100%;
}
.width50 {
	width: 100%;
}
.width25 {
	width: 100%;
}
/* Floats aren't mobile friendly */
.floatright {
	float: none;
}


.mobile-postHeader {
	height: 40px;
	line-height: 20px;
	text-align: left;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.mobile-postHeader th {
	text-align: left !important;
}

.mobile-postHeader .date {
	opacity: 0.5;
}

.mobile-userAvatarBox {
	width: 40px;
	height: 40px;
	padding: 0px;
}

.mobile-userAvatarBox img {
	max-width: 40px;
	max-height: 40px;
	margin: 0px;
	margin-left: auto;
	margin-right: auto;
}

.mobile-postHeader .mobile-postInfoCell {
	padding-left: 8px;
	width: 100%;
	overflow: hidden;
	text-overflow: ellipsis;
}

.mobile-postHeader th {
	margin:0px;
	padding:0px;
	white-space: nowrap;
	overflow: hidden !important;
}

.mobile-postHeader .toolbarMenu {
}

.mobile-postHeader ul.toolbarMenu i {
	line-height: 40px;
}
