/* AcmlmBoard XD - Night board theme */
/* Ported by Nikolaj from the original AcmlmBoard Night theme */
@import url('../../css/roundcorners.css');
@import url('../../css/borders.css');

#body
{
	background: #000F1F url(background.png);
}

.outline
{
	outline-color: #000;
}

h3
{
	border-top-color: #6B6B6B;
	border-bottom-color: #6B6B6B;
}

a:link
{
	color: #DEDAFE;
}

a:visited
{
	color: #CECAFE;
}

a:active
{
	color: #FEF;
}

a:hover
{
	color: #EEEAFE;
}

th
{
	background-color: #221133 !important;
	color: FEF;
}

table.post
{
	border-color: #000;
	background: #111133;
}

table.post td.post
{
	background: #111133;
}

.cell0
{
	background: #111133;
}

.cell1
{
	background: #11112B;
}

.cell2
{
	background: #111133;
}

.header0 th
{
	background: #221133 !important;
}

.header1 th
{
	background:  #221133 !important;
}

.faq
{
	background: #11112B;
}

td.post code.Code
{
	background: #111140;
}

.errort
{
	background:  #221133;
}

.errorc
{
	text-align: center;
	color: #FFF;
	border: 1px solid #000;
	border-top: 0px;
	background: #11112B;
}

#pmNotice
{
	background: #000;
	border-bottom: 1px solid #FFF;
	color: #FFF !important;
}

#pmNotice:hover
{
	background: #888;
}

#pmNotice a span, #pmNotice a
{
	color: #DEDAFE !important;
}

#pmNotice a:hover span, #pmNotice a:hover
{
	color: #EEEAFE !important;
}

.geshi
{
	background: #111120;
	color: #DDD;
}

.geshi .kw0, .geshi .kw1, .geshi .kw2, .geshi .kw3, .geshi .kw4
{
	color: #0FF;
}

.geshi .br0, .geshi .sy0
{
	color: #0F0;
}

.geshi .co1
{
	color: #05F;
}

input[type="text"], input[type="password"], input[type="file"], input[type="email"], select, textarea
{
	background: #000;
	border-radius: 2px;
	box-shadow: inset 0px -5px 5px #222;
	border: 1px solid #00A;
	color: white;
}

input[type="submit"], button
{
	border: 1px solid #00A;
	background: #000;
	color: #FFF;
	border-radius: 2px;
	box-shadow: inset 0px 5px 5px #222;
}

.pollbarContainer
{
	border: 1px solid #000;
}

