/* ABXD Pony theme by Kawa
...it needs to be about 20% brighter. */
@import url('../../css/borders.css');

.outline, .PoRT
{
	box-shadow: 0px 0px 4px black;
}

table.post
{
	box-shadow: 0px 0px 4px black;
}

#body
{
	background: #6EADD9;
}

.cell0
{
	background: #FF6BA2;
}

.cell1, .faq
{
	background: #E3478E;
}

.cell2
{
	background: #FF99C4;
	color: black;
}

.header0 th
{
	background: #FED45D;
	color: black;
}

.header1 th
{
	background: #FFF6A0;
	color: black;
}

a, a span
{
	text-shadow: 1px 1px 1px black,
		     0px 0px 2px black;
}

a:link
{
	color: #FFF6A0;
}
a:visited
{
	color: #FED45D;
}
a:active
{
	color: #FFEA60;
}
a:hover
{
	color:#FFF;
}
a:hover span
{
	color: #FFF !important;
}

button, input[type="submit"]
{
	border: 1px solid black;
	background: #9DDAF7;
	color: black;
}

input[type="text"], input[type="password"], input[type="file"], input[type="email"], select, textarea
{
	border: 1px solid black;
	background: #4A80A6;
	color: white;
}

input[type="checkbox"], input[type="radio"]
{
	background: #4A80A6;
	border: 1px solid black;
	color: white;
}

input[type="radio"]
{
	border-radius: 8px;
}

input[type="text"]:focus, input[type="password"]:focus, input[type="file"]:focus, input[type="email"]:focus, select:focus, textarea:focus
{
	background: #5999C5;
	border-color: #4A80A6;
}

div#tabs button
{
	background: #F4A316;
}

div#tabs button.selected
{
	border-bottom: 1px solid #FED45D;
	background: #FED45D;
}

table.post
{
	background: #E3478E;
}

table.post td.post
{
	background: #FF6BA2;
}

.codeblock
{
	background: #051440;
}

.newMarker
{
	color: white;
}
