/* AcmlmBoard XD - DOS-like board theme */

*
{
	border: 0px none !important;
	margin: 0px;
	font-weight: normal !important;
}

#body
{
	background: black;
	color: silver;
	font-family: "Fixedsys", "Courier New", monospace;
}

.outline
{
	}

code
{
	font-family: "Fixedsys", "Courier New", monospace;
}

h3
{
	font-family: "Fixedsys", "Courier New", monospace;
	background-color: maroon;
	color: yellow;
	margin-top: 14px;
}

h4
{
	font-family: "Fixedsys", "Courier New", monospace;
}

a:link, a:visited
{
	color: white;
}

a:hover, a:active
{
	color: yellow;
}

table
{
	color: silver;
}

td, .border
{
}

th
{
	background: navy;
}

table.post
{
	background: navy;
	color: silver;
}

table.post td.post
{
	background: black;
}

.PoRT td
{
	background: black;
}

.cell0
{
	background: navy;
}

.cell1
{
	background: navy;
}

.cell2
{
	background: teal;
}

.header0 th
{
	background: purple;
	color: white;
}

.header1 th
{
	background: teal;
	color: white;
}

.header0
{
}

.header1
{
}

td.post code.Code
{
	background: maroon;
	font-family: "Fixedsys", "Courier New", monospace;
}

input, textarea, button, select
{
	background: black;
	color: silver;
	font-family: "Fixedsys", "Courier New", monospace;
}

input[type="submit"], button
{
	background: black;
	color: cyan;
}

input[type="submit"]:hover, button:hover
{
	background: black;
	color: white;
}

.faq
{
	background: black;
}

.underline
{
	text-decoration: none;
	color: teal;
}

strong
{
	color: yellow;
}

strong .underline, .underline strong
{
	color: lime;
}

em, i
{
	font-style: normal;
	color: gray;
}

/* Name color table */
.nc0x { color: gray; } .nc1x { color: gray; } .nc2x { color: gray; }
.nc00 { color: blue; } .nc10 { color: fuchsia; } .nc20 { color: teal; }
.nc01 { color: aqua; } .nc11 { color: fuchsia; } .nc21 { color: red; }
.nc02 { color: aqua; } .nc12 { color: purple; } .nc22 { color: green; }
.nc03 { color: yellow; } .nc13 { color: purple; } .nc23 { color: yellow; }
.nc04 { color: white; } .nc14 { color: white; } .nc24 { color: white; }
.nc05 { color: red; } .nc15 { color: red; } .nc25 { color: red; }

.errort
{
	background: maroon;
	text-align: center;
}

.errorc
{
	background: navy;
	text-align: center;
	color: silver;
}

td.post blockquote
{
	padding: 8px 16px;
}

a, a span
{
	-o-transition-property: none !important;
}

#pmNotice
{
	background: silver;
	border: 0px none;
	padding: 0px;
	padding-left: 8px;
	opacity: 1;
}

#pmNotice:hover
{
	background: silver;
}

#pmNotice a span, #pmNotice a
{
	color: navy !important;
}

#pmNotice a:hover span, #pmNotice a:hover
{
	color: yellow !important;
}

##body
{
	margin: 0px;
}

.margin
{
	margin-bottom: 14px;
}

.geshi
{
	background: maroon;
	font-family: "Fixedsys", "Courier New", monospace;
	color: white;
}

.geshi .kw0, .geshi .kw1, .geshi .kw2, .geshi .kw3, .geshi .kw4
{
	color: yellow;
}

.geshi .st0
{
	font-style: normal;
}

.geshi .br0, .geshi .sy0
{
	color: silver;
}

.geshi .co1
{
	font-style: normal;
	color: gray;
}

.pollbarContainer
{
	background: black;
	border: 0px none;
	margin: 0em;
	border-radius: 0px;
	width: 75%;
}

.pollbar
{
	border: 0px none;
	border-radius: 0px;
	color: white;
	text-shadow: none;
	box-shadow: none;
}

.threadTag
{
	color: white;
}

.post_about
{
	background: navy;
}

.post_topbar
{
	background: navy;
}

.post_content
{
	background: black;
}

.post_about, .post_topbar, .post_content
{
	color: silver;
	box-shadow: none;
	border-radius: 0px;
	border: 0px none;
}

table.outline, table.outline td, table.outline th
{
	border-radius: 0px !important;
}

.PoRT, .PoRT div
{
	border-radius: 0px !important;
	box-shadow: none !important;
}

.PoRT .errorc
{
	background: black;
}

div#tabs button
{
	border-radius: 0px;
	border: 0px none;
}

div#tabs button.selected
{
	background: teal;
	color: black;
}

