@import url('../../css/roundcorners.css');
/* AcmlmBoard XD - Glossy board theme -- Made by Nikolaj */

#body
{
	background: #000 url(back.png);
}

h3
{
	border-top-color: #6B6B6B;
	border-bottom-color: #6B6B6B;
}

a:link
{
	color: #00BBBB;
}

a:visited
{
	color: #00AAAA;
}

a:active
{
	color: #00CCCC;
}

a:hover
{
	color: #0FF;
}

th
{
	background-color: #383838;
	border-color: #6B6B6B;
}

table.post
{
	border-color: #144;
	background: url(cell0.svg) #3B3B3B;
	background-size:100% 100%;
}

table.post td.post
{
	background-image: url(cell1.svg);
	background-size:100% 100%;
}

.cell0
{
	background: #001F1F url(cell0.svg);
	background-size:100% 100%;
}

.cell1
{
	background: #001010 url(cell1.svg);
	background-size:100% 100%;
}

.cell2
{
	background: #001515 url(cell2.svg);
	background-size:100% 100%;
}

.header0 th
{
	background: #002525 url(header0.svg);
	background-size:100% 100%;
}

.header1 th
{
	background:  #005555 url(header1.svg);
	background-size:100% 100%;
}

.faq
{
	background: url(cell0.svg);
	background-size:100% 100%;
}

.codeblock
{
	background: #000 url(cell0.svg);
	background-size:100% 100%;
}

.geshi .kw0, .geshi .kw1, .geshi .kw2, .geshi .kw3, .geshi .kw4
{
	color: #00F;
}

.geshi .br0, .geshi .sy0
{
	color: #0F0;
}

.geshi .co1
{
	color: #F0F;
}

button, input[type="submit"]
{
	border: 1px solid #002020;
	background: #000;
	background-image: url(generic.svg);
	color: #FFF;
	-o-transition: 0.2s linear;
	-moz-transition: 0.2s linear;
	-webkit-transition: 0.2s linear;
	-ms-transition: 0.2s linear;
	transition: 0.2s linear;
}

button:hover, input[type="submit"]:hover {
	background-color: #088;
}

input[type="text"], input[type="password"], input[type="file"], input[type="email"], select, textarea
{
	background: #000;
	border: 1px solid #288;
	color: white;
}

input[type="checkbox"], input[type="radio"]
{
	background: #066 URL(generic_gloss.svg);
	border: 2px solid #288;
	color: #000;
	-o-transition: 0.2s linear;
	-moz-transition: 0.2s linear;
	-webkit-transition: 0.2s linear;
	-ms-transition: 0.2s linear;
	transition: 0.2s linear;
}

input[type="checkbox"]:checked, input[type="radio"]:checked {
	background: #0FF;
	color: #000;
}

.pollbarContainer
{
	border: 1px solid #288;
	border-radius: 0px;
	padding: 0px;
	background: #222 url(generic_gloss.svg);
}

.pollbar {
	background-image: URL(generic_gloss.svg) !important;
	border-radius: 0px;
	box-shadow: none;
}

.post_about
{
	background: url(cell2.svg);
}

.post_topbar
{
	background: url(cell0.svg);
}

.post_content
{
	background: url(cell0.svg);
}

div#tabs button {
	border: 1px solid #288;
	border-radius: 8px 8px 0px 0px;
	background-image: url(generic_gloss.svg);
	background-color: #000;
}

div#tabs button.selected
{
	border-bottom: 1px solid #000;
	background-color: #0FF;
	border: 1px solid transparent;
	position: relative;
	text-shadow: 1px 1px 5px #000;
	z-index: 100;
	top: -2px;
}

