/* ABXD Fondue theme by Kiyoshi Kasuga
A pun on cheese and fire */
@import url('../../css/borders.css');

#body
{
	background: black url("back.png") repeat;
}

.PoRT, .pollbarContainer, .pollbar, table.post, .post_about, .post_topbar, .post_content, .PoRT .errort, .PoRT .errorc, table.post td.side, table.post td.userlink, table.post td.meta, table.post td.post, table.outline, table.outline tr:first-child th:first-child, table.outline tr:first-child th:last-child, div#tabs button, .avaLib img, .smilies img, #rss img
{
	border-radius: 0px !important;
}

#header, #header tr, #header tr td
{
	background: none;
		box-shadow: none;
}

#header td:first-child a:hover
{
	border: 0px none;
	background: none;
}

h4
{
	color: white;
}

a:link
{
	color: rgb(0, 128, 255);
}

a:visited
{
	color: cyan;
}

a:active
{
	color: green;
}

.outline
{
	}

.cell0
{
	background: rgba(192, 0, 192, .5);
	padding: 2px 4px;
}

.cell1
{
	background: rgba(255, 0, 0, .5);
	padding: 2px 4px;
}

.cell2
{
	background: rgba(255, 128, 0, .5);
	padding: 2px 4px;
}

.header0 th
{
	background: rgba(0, 0, 255, .5);
	font-family: "Helvetica", "Arial", sans-serif;
	font-size: 1em;
	color: white;
}

.header1 th
{
	background: rgba(192, 0, 192, .5);
	font-family: "Helvetica", "Arial", sans-serif;
	font-size: 1em;
	color: white;
}

.header0, .header1
{
	border: 2px dashed red;
}

div.header0, div.header1
{
	background: rgba(0, 0, 255, .5);
}

.errort
{
	background: rgba(192, 0, 192, .5);
	color: white;
	font-family: "Helvetica", "Arial", sans-serif;
	font-size: 1.2em;
	text-align: center;
}

.errorc
{
	color: white;
	border-top: 0px;
	background: rgba(0, 0, 255, .5);
}

td, th
{
	border: 1px solid black;
}

table.outline
{
	border: 2px dashed red;
}

table.outline tr:first-child
{
	border: 0px none;
}

table.outline tr:first-child th:first-child
{
	border-top-left-radius: 0px;
}

table.outline tr:first-child th:last-child
{
	border-top-right-radius: 0px;
}

table.outline th
{
	border-bottom: 1px solid black;
}

table.outline tr td:first-child, table.outline tr th:first-child
{
	border-left: 1px solid black;
}

table.post
{
	width: 100%;
	border: 2px dashed red;
	background: rgba(255, 128, 0, .25);
}

table.post td.side
{
	font-family: "Helvetica", "Arial", sans-serif;
	width: 15%;
	vertical-align: top;
	background: rgba(255, 0, 0, .25);
	border: 0px none;
}

table.post td.post
{
	background: rgba(255, 128, 0, .25);
	border: 1px solid black;
	border-bottom: 0px none;
	border-right: 0px none;
	vertical-align: top;
	padding: 2px 4px;
	height: 100px;
}

table.post td.post td
{
	border: 0px none;
}

table.post td.meta
{
	font-family: "Helvetica", "Arial", sans-serif;
	font-size: .9em;
	height: 10px;
	margin: 0px;
	border: 0px none;
	background: rgba(255, 0, 0, .25);
}

table.post td.links
{
	margin: 0px;
	border: 0px none;
}

.faq
{
	background: rgba(0, 0, 255, .5);
	border: 2px dashed red;
}

h3
{
	border: 0px none;
}

td.post code.Code, .geshi
{
	background: rgba(0, 0, 255, .5);
	border: 1px solid black;
}

ul.pipemenu a
{
	color: white;
}

ul.pipemenu li
{
	border-left: 1px solid white;
}

.swf
{
	border: 2px dashed red;
	box-shadow: 0px 0px 8px white;
	background: rgba(192, 0, 192, .5);
}

.swfmain
{
	border: 1px solid black;
}

button.expander
{
	border: 1px solid white;
}

.pollbarContainer
{
	border: 1px solid white;
	box-shadow: 0px 0px 8px white;
}

.pollbar
{
	border: 0px none;
}

button, input[type="submit"]
{
	border: 1px solid white;
	background: black;
	padding: 2px 16px;
	color: white;
}

input[type="text"], input[type="password"], input[type="file"], input[type="email"], select, textarea
{
	border: 1px solid white;
	background: black;
	color: white;
}

input[type="checkbox"], input[type="radio"]
{
	background: white;
	color: black;
}

div#tabs
{
	top: 7px;
}

div#tabs button
{
	border: 1px solid white;
	background: rgba(0, 0, 255, .5);
	padding: 12px 16px;
	font-weight: bold;
}

.nc0x, .nc00, .nc01, .nc02, .nc03, .nc04, .nc05, .nc1x, .nc10, .nc11, .nc12, .nc13, .nc14, .nc15, .nc2x, .nc20, .nc21, .nc22, .nc23, .nc24, .nc25
{
	text-shadow: -1px 0px 2px rgb(0, 0, 0), 1px 0px 2px rgb(0, 0, 0), 0px -1px 2px rgb(0, 0, 0), 0px 1px 2px rgb(0, 0, 0);
}

.PoRT
{
	box-shadow: 0px 0px 16px white;
}

div.postToolbar button
{
	padding-top: 4px;
	padding-bottom: 20px;
}

div#smiliesContainer
{
	padding: 0px 0px;
}

div#rss a
{
	border: 0px none;
	background: none;
}

div#header .smallFonts
{
	border: 2px dashed red;
	background: rgba(0, 0, 255, .5);
}

a, a span, img a, img:hover, .footer img, tr.cell0 td img, .cell1 td img, .cell2 td img, table.post img
{
	border: 1px dashed rgba(0, 0, 0, 0);
}

a:hover, a:hover span, div#rss img:hover, .footer img:hover, .avaLib img:hover, div#tabs button:hover, div#tabs button.selected, button:hover, input[type="submit"]:hover, .smilies img:hover,  tr.cell0 td img:hover, .cell1 td img:hover, .cell2 td img:hover
{
	border: 1px dashed yellow !important;
	background: red !important;
	color: yellow !important;
	transition: all 0.5s linear !important;
	-o-transition: all 0.5s linear !important;
	-moz-transition: all 0.5s linear !important;
	-webkit-transition: all 0.5s linear !important;
}

div#header .cell0 a, div#header  img:hover, div#rss a:hover, .footer a:hover
{
	border: 0px none !important;
	background: none !important;
}

div#header .cell2 a:hover
{
	border: 1px dashed yellow !important;
	background: red !important;
	color: yellow !important;
}

