@import url('../../css/roundcorners.css');
@import url('../../css/borders.css');

/* AcmlmBoard XD - Circuit board theme, ported from AcmlmBoard 1.x
By Nikolaj */
*::selection {
	background: #AFA;
	color: #000;
}

#body
{
	background: #222222 URL('circuitbg.jpg');
	color: #EEFFDD;
	font-family: "Tahoma", sans-serif;
}

h3
{
	border-top: 1px solid #000;
	border-bottom: 1px solid #000;
	font-family: "Tahoma", sans-serif;
}

h4
{
	font-family: "Tahoma", sans-serif;
}

a:link, a:visited, a:hover, a:active
{
	color: #DEFECA;
}

a:hover
{
	color: #F6FFF0 !important;
}

table
{
	color: #EEFFDD;
}

th
{
	background: #406030;
}

table.post
{
	background: #10200C;
}

table.post td.post
{
	background: black;
}

.cell0
{
	background: #10200C;
}

.cell1
{
	background: #183012;
}

.cell2
{
	background: #10200C;
}

div.footer
{
	background: rgba(0, 0, 0, 0.5);
}

.header0 th
{
	background: #204018;
}

.header1 th
{
	background: #406030;
	color: #DEFECA;
}

.codeblock
{
	background: #10200C;
	color: #FFF;
}

input, select, textarea
{
	background: #000;
	border: 1px solid #555;
	color: white;
}

input[type="submit"], button
{
	border: 1px solid #000;
	background: #000;
	color: white;
}

.geshi .kw0, .geshi .kw1, .geshi .kw2, .geshi .kw3, .geshi .kw4
{
	color: #FAA;
}

.geshi .st0
{
}

.geshi .br0, .geshi .sy0
{
	color: #FAF;
}

.geshi .co1
{
	color: #AAF;
}

.faq
{
	background: rgba(50,50,50,0.4);
	padding: 4px;
}

div#tabs button
{
	background: #103007;
}

div#tabs button.selected
{
	background: #204018;
}

