@import url('../../css/borders.css');

#body
{
	background: #040420 url("back2c.png") fixed;
}

table.post
{
	background: url("back2t1.png") fixed;
}

table.post td.post
{
	background: url("back2g.png") fixed;
}

.cell0
{
	background: url("back2t2.png") fixed;
}

.cell1
{
	background: url("back2t3.png") fixed;
}

.cell2
{
	background: url("back2t1.png") fixed;
}

.header0 th
{
	background: url("backc2.png") repeat-x;
	background-size:100% 100%;
}

.header1 th, .errort
{
	background: url("backh.png") repeat-x;
	background-size:100% 100%;
}

.codeblock
{
	background: url("back2t2.png");
}

button, input[type="submit"]
{
	border: 1px solid #669;
	background: #04082C;
	color: #FFF;
}

input[type="text"], input[type="password"], input[type="file"], input[type="email"], select, textarea
{
	background: #04082C;
	border: 1px solid #669;
	color: white;
}

