@import url("../../css/lightcolors.css");

body, #body {
	background-color: #888888;
	color: #F0F0F0;
}

a:link	{ color: #336; }
a:visited { color: #336; }
a:hover { color: #002; }
a:active { color: #002; }


body, input, button, textarea, select {
	font-family: Droid Sans, Tahoma, sans-serif;
}

div#main, .footer {
	background: #DDDDDD;
	color: #000000;
	box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.5);
}

.footer {
	border-bottom-left-radius: 24px;
	border-bottom-right-radius: 24px;
	box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.5);
}

:not(.post) table.outline, table.post {
	background: linear-gradient(#EEE, #CCC 200px);
	border-radius: 8px;
	box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.5);
	padding: 4px;
}

.breadcrumbs_bar {
	background: linear-gradient(#AAA, #DDD 10%, #CCC 90%, #AAA);
	margin-left: -8px;
	margin-right: -8px;
	padding: 6px;
	padding-left: 8px;
	padding-right: 8px;
	min-height: 26px;
}

/* I had to do this, unfortunately */
.breadcrumbs_bar .threadTag, .breadcrumbs_bar img {
	display: none;
}

/*ul.breadcrumbs {
	display: inline-block;
}

ul.breadcrumbs li {
	background: linear-gradient(#EEE, #DDD);
	border: 1px solid #888;
	padding-left: 8px;
	padding-right: 8px;
	padding-top: 0px;
	padding-bottom: 0px;
	border-radius: 8px;
	margin-right: 4px;
}

ul.breadcrumbs li a {
	margin: 0px;
	line-height: 24px;
}

ul.breadcrumbs li:before {
	display: none;
}*/

.header0 th, .header0, .header1 th, .header1 {
	border-bottom: 2px solid #A0A0A0;
	font-size: 12pt;
	padding: 2px;
	font-weight: lighter;
}

tr.header0 > th, tr.header1 > th {
	text-align: left;
}

#header {
	border-bottom: 2px solid #A0A0A0;
	margin-left: -8px;
	margin-right: -8px;
	padding-left: 8px;
	padding-right: 8px;
}

#header, #header table {
	padding: 0px;
}

#header table {
	box-shadow: none;
	background: none;
	border-radius: 0px;
	padding: 0px;
	margin: 0px;
}

.threadTag {
	border: 0px none;
	padding: 2px;
	padding-left: 8px;
	padding-right: 8px;
	border-top-right-radius: 4px;
	border-bottom-right-radus: 4px;
	height: 12px;
	line-height: 12px;
	position: relative;
	display: inline-block;
	margin-left: 12px;
}

.threadTag:before {
	display: inline-block;
	text-shadow: none;
	font-style: normal;
	content: ' ';
	height: 12px;
	width: 12px;
	margin-left: -15px;
	background: inherit;
	transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
	margin-right: 4px;
}

button, input[type="submit"], select {
	background-image: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0));
	background-color: #DDD;
	border: 1px solid #888;
	padding: 4px;
	border-radius: 8px;
	transition: 0.2s linear;
}

button:focus, input[type="submit"]:focus, select:focus {
	background-color: #EEE;
	box-shadow: 0px 0px 4px rgba(0, 0, 255, 0.5);
}

button, select, input {
	transition: 0.2s linear;
	box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
}

button:focus, select:focus, input:focus {
	box-shadow: 0px 0px 4px rgba(0, 0, 255, 0.5);
}

button:focus, select:focus, input:focus {
	box-shadow: 0px 0px 6px rgba(0, 0, 128, 0.5);
}

input:not([type="submit"]):not([type="file"]), textarea {
	background: linear-gradient(#FFF, #EEE);
	border-radius: 8px;
	border: 1px solid #888;
	padding: 4px;
}

input[type="radio"], input[type="checkbox"], input[type="file"] {
	box-shadow: none;
}

div#tabs {
	padding-left: 16px;
	margin-bottom: 1px;
}

div#tabs button {
	position: relative;
	margin: 0px;
	background: none;
	background-color: transparent;
	border-radius: 0px;
	border: none;
	box-shadow: none;
	height: 40px;
	padding-left: 18px;
	padding-right: 8px;
	overflow: hidden;
}

div#tabs button.selected {
	position: relative;
	left: 0px;
	top: 0px;
	z-index: 0;
}

div#tabs button.selected:before {
	display: inline-block;
	content: ' ';
	background: #EEE;
	width: 8px;
	height: 8px;
	position: absolute;
	left: 50%;
	bottom: 0px;
	transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
	transform-origin: bottom left;
	-webkit-transform-origin: bottom left;
	border: 1px solid #808080;
}


ul.pipemenu, ul.breadcrumbs {
	display: inline-block;
	line-height: 24px;
	background: linear-gradient(#EEE, #DDD);
	border: 1px solid #808080;
	border-radius: 8px;
	margin: 2px;
}

.breadcrumbs_bar ul.pipemenu, .breadcrumbs_bar ul.breadcrumbs {
	margin: 0px;
	line-height: 24px;
}

.breadcrumbs_bar ul.pipemenu {
}

ul.pipemenu li, ul.breadcrumbs li {
	padding-left: 6px;
	padding-right: 6px;
	cursor: default;
}

ul.pipemenu li:not(:first-child), ul.breadcrumbs li:not(:first-child) {
	border-left: 1px solid #808080;
}

ul.breadcrumbs li:before {
	display: none;
}

.pollbarContainer {
	background: #CCC;
	box-shadow: none;
	overflow: hidden;
}

.pollbar {
	background: repeating-linear-gradient(-45deg, rgba(0, 0, 0, 0) 0px, rgba(0, 0, 0, 0) 10px, rgba(0, 0, 0, 0.03) 10px, rgba(0, 0, 0, 0.03) 20px);
	box-shadow: none;
	border: none;
	border-right: 1px solid #808080;
	border-radius: 0px;
	margin-right: -1px;
}

.postToolbar button {
	background: none;
	border: none;
	border-radius: 0px;
	box-shadow: none;
	margin: 4px;
}

.postToolbar button:hover {
	background: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
}
