/* AcmlmBoard XD - Mono Green board theme */
@font-face {
    font-family: "FixedMedium";
    src: url('miscfixed2-webfont.eot');
    src: url('miscfixed2-webfont.eot?#iefix') format('embedded-opentype'),
         url('miscfixed2-webfont.woff') format('woff'),
         url('miscfixed2-webfont.ttf') format('truetype'),
         url('miscfixed2-webfont.svg#FixedMedium') format('svg');
    font-weight: normal;
    font-style: normal;
}
#body
{
	background: black;
	color: lime;
    font-family: "FixedMedium", "Consolas", "Courier New", monospace;
}

#header table
{
/*	background-image:url("matrix14.jpg");
	background-repeat: repeat-x;
	background-position: top;*/
	background-color: black;
}

h3
{
	border-top: 1px solid lime;
	border-bottom: 1px solid lime;
    font-family: "FixedMedium", "Consolas", "Courier New", monospace;
}

h4
{
    font-family: "FixedMedium", "Consolas", "Courier New", monospace;
}

a:link, a:visited, a:hover, a:active
{
	color: #8F8;
}

a:hover
{
	color: white !important;
}

table
{
	color: lime;
}

.outline
{
	outline-color: black;
}

td
{
	border-color: #040;
}

th
{
	background: black;
	border-color: green;
}

table.post
{
	border-color: green;
	background: #040;
}

table.post td.post
{
	background: black;
	border-left-color: green;
	border-top-color: green;
}

table.post td.meta
{
	border-bottom-color: green;
}

table.post td.links
{
	border-bottom-color: green;
}

.cell0
{
	background: black;
}

.cell1
{
	background: black;
}

.cell2
{
	background: #040;
}

.header0 th
{
	background: #040;
	color: white;
	border: 1px solid #040;
}

.header1 th
{
	background: green;
	color: white;
}

.header0
{
	border-color: green;
}

.header1
{
	border-color: green;
}

td.post code.Code
{
	background: #040;
	color: lime;
}

.errort
{
	background: #040;
	color: white;
	border: 1px solid green;
}

.errorc
{
	background: black;
	text-align: center;
	color: lime;
	border-left: 1px solid green;
	border-right: 1px solid green;
	border-bottom: 1px solid green;
}

#pmNotice
{
	background: green;
	color: lime !important;
}

#pmNotice:hover
{
	background: green;
}

#pmNotice a span, #pmNotice a
{
	color: white !important;
}

#pmNotice a:hover span, #pmNotice a:hover
{
	color: white !important;
}

input, select, textarea
{
	background: #040;
	border: 1px solid green;
	color: white;
    font-family: "FixedMedium", "Consolas", "Courier New", monospace;
}

input[type="submit"], button
{
	border: 1px solid green;
	background: #040;
	color: white;
    font-family: "FixedMedium", "Consolas", "Courier New", monospace;
}

.geshi
{
	background: #040;
	color: lime;
}

.geshi .kw0, .geshi .kw1, .geshi .kw2, .geshi .kw3, .geshi .kw4
{
	color: lime;
}

.geshi .st0
{
}

.geshi .br0, .geshi .sy0
{
	color: #0B0;
}

.geshi .co1
{
	color: green;
}

.threadTag
{
	color: white;
}

.pollbarContainer
{
	border: 1px solid #040;
}

.post_about
{
	background: #010;
	border: 1px solid #040;
}

.post_topbar
{
	background: #010;
	border: 1px solid #040;
}

.post_content
{
	background: #010;
	border: 1px solid #040;
}

.post_about, .post_topbar, .post_content
{
	box-shadow: none;
}

table.outline
{
	border-radius: 0px !important;
	border-collapse: collapse !important;
}

table.outline td, table.outline th
{
	border-radius: 0px !important;
	border: 1px solid black !important;
}

.PoRT, .PoRT div
{
	border-radius: 0px !important;
	box-shadow: none !important;
}

div#tabs button
{
	border-radius: 0px;
	border: 0px none;
}

div#tabs button.selected
{
	border-bottom: 1px solid #040;
}

