{% import 'layout/macros.html' as macros %}

<a name="{{post.id}}"></a>

<table class="outline margin mobile-postBox" id="post{{ post.id }}">
	<tr class="header0 mobile-postHeader">
		<th>
			<table>
				<tr>
					<td>
						<div class="mobile-userAvatarBox">
							<img src="/avatar/{{ post.userposted.id }}" alt="" style="max-width: 40px; max-height: 40px;"/>
						</div>
					</td>
					<td class="mobile-postInfoCell" style="width: 99%; overflow: hidden;">
						<div style="position: relative; height: 40px; top: 0; left: 0;">
							<div style="position: absolute; top: 0; left: 0;">
								{{ userlink(post.userposted) }}<br>
								<span class="date">
									{% include 'components/postItemMeta.html' %}
								</span>
							</div>
						</div>
						<span style="text-align:left; display: none;" id="dyna_{{post.id}}">
							&nbsp;
						</span>
					</td>
					<td>
						{{ macros.list(post.links, '', 'pipemenu') }}
					</td>
				</tr>
			</table>
		</th>
	</tr>
	{% if not post.deleted and not post.restricted %}
	<tr>
		<td colspan="3" class="cell0 mobile-postBox">
			{{post.text | cleanUpPost | raw}}
		</td>
	</tr>
	{% endif %}
</table>