/* AcmlmBoard XD - ZenBurn board theme */

#body
{
	background: rgb(31,31,31);
	color: rgb(127,159,127);
}

h2, h3, h4, #body
{
	font-family: "Century Schoolbook", "Times New Roman", serif;
}

.outline
{
}

td, th, .header0, .header1, table.post, .errort, .errorc
{
	border-color: rgb(31,31,31) !important;
}

td, .cell1
{
	background: rgb(53,53,53);
	color: rgb(220,220,204);
}

.cell0, table.post td.post, .faq
{
	background: rgb(42,42,42);
	color: rgb(220,220,204);
}

.cell2
{
	background: rgb(52,52,52);
	color: rgb(220,220,204);
}

.header0 th
{
	background: rgb(26,47,44);
	color: rgb(127,159,127);
	text-shadow: 1px 1px 0px #000;
}

.header1 th
{
	background: rgb(46,67,64);
	color: rgb(127,159,127);
	text-shadow: 1px 1px 0px #000;
}

h3
{
	text-shadow: 1px 1px 0px #000;
	border-top: 0px none;
	border-bottom: 2px solid rgb(63,63,63);
	color: rgb(220,220,204);
}

a:link
{
	color: rgb(204,204,142);
}

a:visited
{
	color: rgb(134,134,72);
}

a:hover
{
	color: rgb(255,255,255);
}

td.post code.Code
{
	background: rgb(20,20,20);
}

input, select, textarea
{
	background: rgb(20,20,20);
	border: 1px solid rgb(32,32,32);
	color: rgb(204,204,142);
	font-family: "Century Schoolbook", "Times New Roman", serif;
}

input[type="submit"], button
{
	border: 1px solid rgb(32,32,32);
	background: rgb(64,64,64);
	color: rgb(204,204,142);
	border-radius: 4px;
	font-family: "Century Schoolbook", "Times New Roman", serif;
}

input[type="submit"]:hover, button:hover
{
	background: rgb(80,80,80);
}

.errort
{
	background: rgb(46,67,64);
}

.errorc
{
	background: rgb(42,42,42);
}

.geshi
{
	background: rgb(20,20,20);
	font-family: "Consolas", "Courier New", monospace;
}

.geshi .kw0, .geshi .kw1, .geshi .kw2, .geshi .kw3, .geshi .kw4
{
	font-weight: bold;
	color: rgb(234,234,175);
}

.geshi .st0
{
	font-style: normal;
	color: rgb(200,145,145);
}

.geshi .nu0
{
	color: rgb(138,204,207);
}

.geshi .br0, .geshi .sy0
{
	color: rgb(220,220,204);
}

.geshi .co1
{
	font-style: normal;
	color: rgb(127,159,127);
}

.pollbarContainer
{
	border: 1px solid rgb(31,31,31);
	background: rgb(20,20,20);
	box-shadow: none;
	border-radius: 0px;
}

.pollbar
{
	border: 0px none;
	border-radius: 0px;
	box-shadow: inset 0px 0px 16px black;
}

.post_about
{
	background: rgb(42,42,42);
}

.post_topbar
{
	background: rgb(42,42,42);
	margin-left: 145px;
}

.post_content
{
	margin-left: 145px;
	margin-top: 1px;
	background: rgb(42,42,42);
}

.post_about, .post_topbar, .post_content
{
	box-shadow: none;
	border: 0px none;
}

.outline
{
	box-shadow: none !important;
}

table.outline
{
	border-radius: 0px !important;
	border-collapse: collapse !important;
}

.PoRT, .PoRT div
{
	border-radius: 0px !important;
	box-shadow: none !important;
}

div#tabs button
{
	background: rgb(26,47,44);
	color: rgb(127,159,127);
	text-shadow: 1px 1px 0px #000;
}

div#tabs button:hover
{
	background: rgb(46,67,64);
	color: rgb(127,159,127);
	text-shadow: 1px 1px 0px #000;
}

div#tabs button.selected
{
	border-bottom: 1px solid rgb(26,47,44);
}

