@import url('../../css/borders.css');
/* AcmlmBoard XD - Mudkipz theme
By Luigi-San */

#body
{
	background: #2BB3DB url('background.png') bottom right no-repeat;
	color: #EFD;
	font-family: "Tahoma", sans-serif;
}
h3
{
	border-top: 1px solid #000;
	border-bottom: 1px solid #000;
}
h3, h4
{
	font-family: "Tahoma", sans-serif;
}

a:link, a:visited, a:active
{
	color: #DEFECA;
}
a:hover
{
	color: #F6FFF0 !important;
}

table
{
	color: #EFD;
}

table.post
{
	background: #2894AE;
}
table.post td.post
{
	background: #000;
}

th
{
	background: #403060;
}

.codeblock
{
	background: #2894AE;
	color: #FFF;	
}

.cell0, .cell2
{
	background: #2894AE;
}
.cell1
{
	background: rgba(0, 0, 0, .5);
}

.header0 th
{
	background: #2894AE;
}
.header1 th
{
	background: #F09850;
}

input, select, textarea
{
	background: #000;
	border: 1px solid #555;
	color: #FFF;
}

input[type="submit"], button
{
	border: 1px solid #000;
	background: #000;
	color: #FFF;
}

.geshi
{
	background: #2894AE;
	color: #FFF;
}
.geshi .kw0, .geshi .kw1, .geshi .kw2, .geshi .kw3, .geshi .kw4
{
	color: #FAA;
}
.geshi .br0, .geshi .sy0
{
	color: #FAF;
}
.geshi .co1
{
	color: #AAF;
}

.faq
{
	background: rgba(50, 50, 50, .4);
	padding: 4px;
}

div#tabs button
{
	background: #2894AE;
}

div#tabs button.selected
{
	border-bottom: 1px solid #F09850;
	background: #F09850;
}

div.footer
{
	background: rgba(0, 0, 0, .5);
	border-radius: 8px;
}

*::selection {
	background: #AFA;
	color: #000;
}
